@charset "utf-8";

/* 레이아웃 */
#mNav {
	display: none;
	position: absolute;
	top: 10px;
	right: 14px;
}

#header {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #c6c6c6;
}

/* #banner {
	position: relative;
}
 */
#footer {
	background: #211f1f;
}

/* 가운데 영역 */
.container {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0);
}

/* 로우 영역 */
.row {
	padding: 0 28px;
}

/* 모바일 메뉴 */
.ham {
	display: block;
	width: 25px;
	height: 10px;
	background: rgba(0, 0, 0, 0);
	padding: 15px 10px 10px 10px;
}

.ham span {
	position: relative;
	display: block;
	width: 25px;
	height: 4px;
	background: #39106a;
}

.ham span:before {
	content: '';
	width: 25px;
	height: 4px;
	background: #39106a;
	position: absolute;
	left: 0;
	bottom: -7px;
}

.ham span:after {
	content: '';
	width: 25px;
	height: 4px;
	background: #39106a;
	position: absolute;
	left: 0;
	top: -7px;
}

/* 헤더 영역 */
.header h1 {
	float: left;
}

.header h1 em {
	padding: 15px 8px 5px 0;
	display: inline-block;
}

.header h1 em img {
	width: 155px;
}

.header h1 strong {
	display: block;
	position: absolute;
	left: 194px;
	top: 23px;
}

.header h1 strong img {
	width: 126px;
}

.header .nav {
	float: right;
}

.header .nav ul {
	border-left: 1px solid #c6c6c6
}

.header .nav ul li {
	float: left;
	width: 103px;
	text-align: center;
	border-right: 1px solid #c6c6c6;
}

.header .nav ul li a {
	display: block;
	padding: 19px 10px;
	font-size: 17px;
	font-weight: 700;
	color: #444;
}

/* 푸터 */
.footer_sns {
	position: absolute;
	right: 17px;
	top: 33px;
	z-index: 1;
}

.footer_sns li {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-left: 4px;
}

.footer_sns li.s1 {
	background-position: 0 -375px;
}

.footer_sns li.s2 {
	background-position: -36px -375px;
}

.footer_sns li.s3 {
	background-position: -72px -375px;
}

.footer_sns li.s4 {
	background-position: -108px -375px;
}

.footer_sns li.s5 {
	background-position: -144px -375px;
}

.footer_sns li.s1:hover {
	background-position: 0 -411px;
}

.footer_sns li.s2:hover {
	background-position: -36px -411px;
}

.footer_sns li.s3:hover {
	background-position: -72px -411px;
}

.footer_sns li.s4:hover {
	background-position: -108px -411px;
}

.footer_sns li.s5:hover {
	background-position: -144px -411px;
}

.footer_sns .tel {
	text-align: right;
	padding-top: 5px;
}

.footer_sns .tel a {
	color: #8f8f8f;
	font-size: 21px;
}

.footer_sns .tel a em {
	color: #fff;
}

.footer_infor {
	padding: 50px 0;
	width: 80%;
}

.footer_infor h2 img {
	width: 250px;
}

.footer_infor ul {
	padding: 15px 0;
}

.footer_infor li {
	position: relative;
	display: inline;
	padding-right: 16px;
	white-space: nowrap;
}

.footer_infor li:after {
	content: '';
	position: absolute;
	right: 5px;
	top: 5px;
	width: 1px;
	height: 11px;
	background: #8f8f8f;
}

.footer_infor li:last-child:after {
	width: 0;
	height: 0;
}

.footer_infor li a {
	color: #8f8f8f;
}

.footer_infor address p {
	color: #8f8f8f;
	padding-bottom: 15px;
}

/* 미디어쿼리 */
@media ( max-width : 1290px) {
	.container {
		width: 100%;
	}
	.header .nav ul li {
		width: 93px;
	}
	.header .nav ul li a {
		font-size: 15px;
		padding: 17px 10px
	}
	.header h1 em {
		padding: 11px 8px 5px 0;
	}
	.header h1 strong {
		top: 19px;
	}
	.swiper-button-prev, .swiper-button-next {
		display: none;
	}
}

@media ( max-width : 1024px) {
	#mNav {
		display: block;
	}
	.nav {
		display: none;
	}
	.row {
		padding: 0 24px;
	}
	.header h1 {
		float: none;
		text-align: center;
	}
	.header h1 strong {
		left: 24px;
	}
}

@media ( max-width : 960px) {
	.footer_sns {
		position: static;
		text-align: center;
		background: #352c2c;
		padding-bottom: 15px;
	}
	.footer_sns .tel {
		display: none;
	}
	.footer_infor {
		width: 100%;
		text-align: center;
	}
}

@media ( max-width : 768px) {
	.row {
		padding: 0 16px;
	}
	#mNav {
		right: 6px;
	}
	.header h1 {
		text-align: left;
	}
	.header h1 strong {
		display: none;
	}
	#movie .ir_so {
		position: static;
		width: auto;
		height: auto;
		line-height: normal;
		text-indent: 0;
		font-size: 24px;
		font-weight: bold;
		padding-bottom: 20px;
	}
}

@media ( max-width : 600px) {

	#movie .container {
		
	}
	#movie .container:after {
		content: '';
		position: absolute;
		z-index: 20;
		top: 0;
		right: 0;
		width: 8px;
		height: 100%;
		background: #d9d7e0;
	}
	#movie .row {
		position: relative;
		margin: 8px;
		padding: 16px;
		margin-right: 0;
		padding-right: 0;
	}
	#movie .row:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		width: 24px;
		height: 100%;
		background-color: #fff;
	}
	#movie .ir_so {
		font-size: 18px;
		padding-bottom: 10px;
	}
	.movie_title {
		margin-bottom: 20px;
	}
	.movie_title ul {
		padding-bottom: 8px;
		white-space: nowrap;
		overflow-x: auto;
	}
	.movie_title li a {
		font-size: 14px;
		margin-right: 15px;
	}
	.movie_title li.active a:before {
		bottom: -8px;
	}
	.movie_chart {
		position: relative;
		z-index: 30;
	}
	.movie_chart>div>div>div .infor {
		padding: 5px;
	}
	.movie_chart>div>div>div .infor h3 {
		text-align: center;
		margin: 5px 0 10px;
	}
	.movie_chart>div>div>div .infor h3 strong {
		display: block;
		font-size: 19px;
		color: #222;
		font-weight: 300;
	}
	.movie_chart>div>div>div .infor h3 span {
		display: none;
	}
	.movie_chart>div>div>div .infor .infor_btn a {
		width: 52%;
		margin-left: 24%;
		display: block;
		margin-right: 0;
		padding: 5px;
		color: #777;
		margin-bottom: 5px;
		box-sizing: border-box;
		font-size: 14px;
		background: none;
		border: 1px solid #ddd;
	}
	.movie_chart>div>div>div .infor .infor_btn a:last-child {
		display: none;
	}
	.footer_infor {
		padding: 30px 0;
	}
	.footer_infor address p br {
		display: none;
	}
}

@media ( max-width : 480px) {
}

@media ( max-width : 320px) {
	.movie_title li a {
		margin-right: 9px;
	}
}