
/**
[프로젝트]롯데e커머스_자바전문가과정
[시스템명]영화예매시스템
[팀 명]CUTEam
[파일명]style_reservationDetail.css
* -----------------------------------------------------------
* 수정일자           수정자         수정내용
* 2022.07.11       안채영         신규생성
* -----------------------------------------------------------
*/

.reservation-title {
  font-size: 34px;
  padding-top: 50px;
}

strong {
  font-size: 25px;
}

button {
  padding: 10px;
  margin-top: -20px;
  border: 1px solid black;
}

.movie-image {
  margin-top:-30px;
  box-shadow: 10px 11px 10px 0 black;
  width: 300px;
  height: 400px;
}
